# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.cache
NodeXL/ExcelTemplatePostDeploymentAction/obj/Debug/Interop.IWshRuntimeLibrary.dll
NodeXL/GraphMLFileProcessorStarter/obj/Debug/Interop.IWshRuntimeLibrary.dll
NodeXL/NetworkServerStarter/obj/Debug/Interop.IWshRuntimeLibrary.dll
NodeXL/UpgradeLog.htm
NodeXL/Algorithms/obj/Debug/Algorithms.csproj.FileListAbsolute.txt
NodeXL/ApplicationUtil/obj/Debug/ApplicationUtil.csproj.FileListAbsolute.txt
NodeXL/ApplicationUtil/obj/Debug/Smrf.AppLib.ColorPicker.resources
NodeXL/ApplicationUtil/obj/Debug/Smrf.NodeXL.ApplicationUtil.GraphZoomAndScaleControl.resources
NodeXL/ApplicationUtil/obj/Debug/Smrf.NodeXL.ApplicationUtil.GraphZoomAndScaleControl.resources
NodeXL/Core/obj/Debug/Core.csproj.FileListAbsolute.txt
NodeXL/ExcelTemplatePlugIns/bin/Debug/Microsoft.NodeXL.ExcelTemplatePlugIns.dll
NodeXL/ExcelTemplatePlugIns/bin/Debug/Microsoft.NodeXL.ExcelTemplatePlugIns.pdb
NodeXL/ExcelTemplatePlugIns/bin/Debug/Microsoft.NodeXL.ExcelTemplatePlugIns.xml
NodeXL/ExcelTemplatePlugIns/obj/Debug/ExcelTemplatePlugIns.csproj.FileListAbsolute.txt
NodeXL/ExcelTemplatePlugIns/obj/Debug/ExcelTemplatePlugIns.csproj.FileListAbsolute.txt
NodeXL/ExcelTemplatePlugIns/obj/Debug/Microsoft.NodeXL.ExcelTemplatePlugIns.dll
NodeXL/ExcelTemplatePlugIns/obj/Debug/Microsoft.NodeXL.ExcelTemplatePlugIns.dll
NodeXL/ExcelTemplatePlugIns/obj/Debug/Microsoft.NodeXL.ExcelTemplatePlugIns.pdb
NodeXL/ExcelTemplatePlugIns/obj/Debug/Microsoft.NodeXL.ExcelTemplatePlugIns.pdb
NodeXL/ExcelTemplatePostDeploymentAction/obj/Debug/PostDeploymentAction.dll
NodeXL/ExcelTemplatePostDeploymentAction/bin/Debug/PostDeploymentAction.pdb
NodeXL/GraphDataProviders/obj/Debug/GraphDataProviders.csproj.FileListAbsolute.txt
NodeXL/ExcelTemplatePostDeploymentAction/obj/Debug/PostDeploymentAction.pdb
NodeXL/GraphDataProviders/obj/Debug/Smrf.NodeXL.GraphDataProviders.Flickr.FlickrApiKeyControl.resources
NodeXL/GraphDataProviders/obj/Debug/Smrf.NodeXL.GraphDataProviders.Flickr.FlickrApiKeyControl.resources
NodeXL/GraphDataProviders/obj/Debug/Smrf.NodeXL.GraphDataProviders.GraphServer.GraphServerGetTwitterSearchNetworkDialog.resources
NodeXL/GraphDataProviders/obj/Debug/Smrf.NodeXL.GraphDataProviders.NetworkLevelControl.resources
NodeXL/GraphDataProviders/obj/Debug/Smrf.NodeXL.GraphDataProviders.LimitToNControl.resources
NodeXL/ExcelTemplatePostDeploymentAction/bin/Debug/PostDeploymentAction.dll
*.resources
NodeXL/ExcelTemplatePostDeploymentAction/obj/Debug/ExcelTemplatePostDeploymentAction.csproj.FileListAbsolute.txt
NodeXL/GraphMLFileProcessor/obj/Debug/GraphMLFileProcessor.csproj.FileListAbsolute.txt
NodeXL/GraphMLFileProcessorStarter/bin/Debug/GraphMLFileProcessorStarter.exe
NodeXL/GraphMLFileProcessorStarter/bin/Debug/GraphMLFileProcessorStarter.XML
NodeXL/GraphMLFileProcessorStarter/bin/Debug/Ionic.Zip.Reduced.dll
NodeXL/GraphMLFileProcessorStarter/bin/Debug/Ionic.Zip.Reduced.pdb
NodeXL/GraphMLFileProcessorStarter/bin/Debug/Smrf.NodeXL.Util.dll
NodeXL/GraphMLFileProcessorStarter/bin/Debug/Smrf.NodeXL.Util.pdb
NodeXL/GraphMLFileProcessorStarter/bin/Debug/Smrf.NodeXL.Util.xml
NodeXL/Layouts/obj/Debug/Layouts.csproj.FileListAbsolute.txt
NodeXL/NetworkServerStarter/bin/Debug/Ionic.Zip.Reduced.pdb
NodeXL/GraphMLFileProcessorStarter/obj/Debug/GraphMLFileProcessorStarter.exe
NodeXL/GraphMLFileProcessorStarter/obj/Debug/GraphMLFileProcessorStarter.csproj.FileListAbsolute.txt
NodeXL/NetworkServerStarter/bin/Debug/Ionic.Zip.Reduced.dll
NodeXL/NetworkServerStarter/bin/Debug/Ionic.Zip.Reduced.dll
NodeXL/NetworkServerStarter/bin/Debug/Ionic.Zip.Reduced.xml
NodeXL/NetworkServerStarter/bin/Debug/NodeXLNetworkServerStarter.exe
NodeXL/NetworkServerStarter/bin/Debug/NodeXLNetworkServerStarter.xml
NodeXL/NetworkServerStarter/bin/Debug/Smrf.NodeXL.Util.dll
NodeXL/NetworkServerStarter/bin/Debug/Smrf.NodeXL.Util.pdb
NodeXL/NetworkServerStarter/bin/Debug/Smrf.NodeXL.Util.xml
NodeXL/NetworkServerStarter/bin/Debug/NodeXLNetworkServerStarter.pdb
NodeXL/NetworkServerStarter/obj/Debug/NodeXLNetworkServerStarter.pdb
NodeXL/NetworkServerStarter/obj/Debug/NetworkServerStarter.csproj.FileListAbsolute.txt
NodeXL/NetworkServerStarter/obj/Debug/NodeXLNetworkServerStarter.exe
NodeXL/GraphMLFileProcessorStarter/obj/Debug/GraphMLFileProcessorStarter.pdb
NodeXL/Util/bin/Debug/Ionic.Zip.Reduced.dll
NodeXL/Util/bin/Debug/Ionic.Zip.Reduced.pdb
NodeXL/Util/bin/Debug/Smrf.NodeXL.Util.dll
NodeXL/TestGraphDataProviders/obj/Debug/TestGraphDataProviders.csproj.FileListAbsolute.txt
NodeXL/TestWpfNodeXLControl/obj/Debug/TestWpfNodeXLControl.csproj.FileListAbsolute.txt
NodeXL/GraphMLFileProcessorStarter/bin/Debug/Ionic.Zip.Reduced.xml
NodeXL/Util/bin/Debug/Ionic.Zip.Reduced.xml
NodeXL/Util/bin/Debug/Smrf.NodeXL.Util.pdb
NodeXL/Util/obj/Debug/Smrf.NodeXL.Util.dll
NodeXL/Util/bin/Debug/Smrf.NodeXL.Util.xml
NodeXL/Util/obj/Debug/Smrf.NodeXL.Util.pdb
NodeXL/UnitTests/obj/Debug/UnitTests.csproj.FileListAbsolute.txt
NodeXL/Util/obj/Debug/Util.csproj.FileListAbsolute.txt
NodeXL/WpfControl/obj/Debug/WpfControl.csproj.FileListAbsolute.txt
NodeXL/WpfVisualization/obj/Debug/WpfVisualization.csproj.FileListAbsolute.txt
NodeXL/GraphMLFileProcessorStarter/bin/Debug/GraphMLFileProcessorStarter.pdb
NodeXL/WpfControl/bin/Debug/Smrf.NodeXL.Util.dll
NodeXL/WpfVisualization/obj/Debug/Smrf.NodeXL.Visualization.Wpf.pdb
NodeXL/WpfVisualization/obj/Debug/Smrf.NodeXL.Visualization.Wpf.dll
NodeXL/WpfVisualization/obj/Debug/Smrf.NodeXL.Visualization.Wpf.dll
*.pdb
*.exe
*.pdb
*.pdb
*.dll
*.pdb
*.dll
*.dll
*.pdb
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Adapters.dll
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Adapters.dll
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Adapters.pdb
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Core.dll
*.pdb
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Util.dll
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Util.pdb
NodeXL/AdditionalFilesToPublish/NodeXLGraphMLFileProcessor.exe
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Adapters.dll
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Adapters.dll
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Adapters.dll
NodeXL/Adapters/bin/Debug/Smrf.NodeXL.Adapters.pdb
NodeXL/Algorithms/obj/Debug/Algorithms.csproj.FileListAbsolute.txt
NodeXL/ApplicationUtil/bin/Debug/Smrf.NodeXL.ApplicationUtil.dll
NodeXL/NetworkServer/bin/Debug/Smrf.NodeXL.GraphDataProviders.pdb